<html>

<title>JTS GrowBox Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align:center;
}
div {
    height: 100%;
    background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%)
}
</style>
<body>
<div>
<div class="w3-container">
  <h1>JTS GrowBox Data</h1>
  
  <table class="w3-table-all w3-centered">
    <tr>
      <th>Macid</th>
      <th>Chamber1 T</th>
      <th>Chamber2 T</th>
      <th>Chamber3 T</th>
      <th>Chamber1 H</th>
      <th>Chamber2 H</th>
      <th>Chamber3 H</th>
      <th>Chiller Temp</th>
     
      <th>Date</th>
    </tr>
    {% for category in data %}

      <tr>
      <td>{{category.Macid}}</td>
      <td>{{category.Chamber1Temp}}</td>
      <td>{{category.Chamber2Temp}}</td>
      <td>{{category.Chamber3Temp}}</td>
      <td>{{category.Chamber1Humi}}</td>
      <td>{{category.Chamber2Humi}}</td>
      <td>{{category.Chamber3Humi}}</td>
      <td>{{category.ChillerTemp}}</td>

      <td>{{category.ChangeDate}}</td>
      
    </tr>

    {% endfor %}
   
  </table>
</div>
</div>
</body>

</html>
